spring:
  application:
    name: sunlight-cinema-auth

  datasource:
    url: jdbc:postgresql://localhost:5432/cinema_db
    username: postgres
    password:               # пустой — trust
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        type:
          enum:
            prefer_native_enum: true

  sql:
    init:
      mode: always

server:
  port: 8080
  address: 0.0.0.0

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /v3/api-docs