spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/sunlight_db
    username: postgres
    password:               # пустой — trust
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082